.grid-container {
  position: relative;
  display: inline-block;
  background-color: rgb(9 143 171);
  padding: 10px;
  width: 3000px;
  z-index: 1;
  border-radius: 19px;
}

.grid-item {
  background-color: #0d151ae3;
  font-size: 10px;
  text-align: center;
  height: 10px;
  border-radius: 1px;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(1000, 10px);
  background-color: #2196F3;
  width: 100px;
}

.start{
  line-height: 50px;
}

.floatingDiv {
  background: repeating-linear-gradient(to bottom, #0f0a1e, #0f0a1e 2px, #150e29 2px, #150e29 4px);
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 5px;
  text-shadow: 0px 0 0 #fdff2a, 0px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
  //text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
  font-family: "Press Start 2P", cursive;
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 43%;
  left: 50%;
  width: 450px;
  right: 50%;
  margin: -25px 0 0 -225px;
  background-color: rgba(13, 21, 26, 0.89);
  color: white;
  height: 50px;
  border-radius: 10px;
  transition: height 0.4s linear, width 0.4s linear, margin 0.4s linear, top 0.4s linear;
  opacity: .7;
  overflow: hidden;
}

.personalInfo{
  //text-align: left;
  //margin-left: 30px;
}

.footer{
  display:flex;
  margin-top: 35px;
  justify-content: center;
}

.about{
  width: 225px;
  padding-right: 60px;
  text-align: left;
  //transition: width 0.4s linear, height 0.4s linear, margin 0.4s linear;
  transition: transform 500ms ease-in-out, width 500ms linear, padding-right 500ms linear;
  overflow: hidden;
}

.work{
  width: 285px;
  text-align: center;
  //transition: width 0.4s linear, height 0.4s linear;
  transition: transform 500ms ease-in-out, width 500ms linear;
  overflow: hidden;
}

.contact{
  width: 285px;
  text-align: right;
  //transition: width 0.4s linear, height 0.4s linear;
  transition: transform 500ms ease-in-out, width 500ms linear;
  overflow: hidden;
}

.blinking {
  animation: blink 1s steps(4, start) infinite;
}

.expanded{
  height: 200px;
  width: 900px;
  margin: -100px 0 0 -450px;
  opacity: .96;
}

.expandAbout{
  height: 720px;
  top: 20%;
}

.paused {
  animation-play-state: paused;
}

.grid-wrapper {
  display: inline-block;
  width: 100%;
  text-align: center;
  //background-color: rgba(13, 21, 26, 1);
   height: 100%;
}

.typeTest {
  width: 0px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .2em solid transparent; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation-fill-mode: forwards;
  //animation-delay: 2s;
  display: inline-flex;
}

.personalInfoContainer{
  height: 120px;
  transition: height 0.4s linear;
  overflow: hidden;
}

.verticalCollapse{
  height: 0px;
}

.horizontalCollapse{
  width: 0px;
  transform: scaleY(0);
  padding-right: 0px;
}

.center{
  text-align: center;
  padding-right: 0px;
}

.highlight:hover{
  text-shadow: -2px 0 0 #fdff2a, -4px 0 0 #df4a42, 2px 0 0 #91fcfe, 4px 0 0 #4405fc;
  cursor: pointer;
}

.animateName{
  margin-top: 10px;
  line-height: 40px;
  margin-top: 10px;
  animation:   
  blink-caret .75s step-end 8, typingname 3s steps(12, end);
  animation-fill-mode: forwards;
}

.animatePosition{
  font-size: 18px;
  letter-spacing: 1px;
  animation:
  blink-caret .75s step-end 10,
  typingPosition 8s steps(34, end);
  animation-fill-mode: forwards;
  animation-delay: 6s;
}

.animatePosition2{
  font-size: 18px;
  letter-spacing: 1px;
  animation:
  blink-caret .75s step-end 10,
  typingPosition2 2s steps(16, end);
  animation-fill-mode: forwards;
  animation-delay: 13s;
}

.name{
  display: inline-flex;
  overflow: hidden;
}

.hidden{
  visibility: hidden;
  color: transparent;
  text-shadow: none;
}


@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

/* The typing effect */
@keyframes typingname {
  0%, 50% { width: 0px }
  90%, 100% { width: 394px }
}

@keyframes typingPosition {
  0%, 50% { width: 0px }
  90%, 100% { width: 644px }
}

@keyframes typingPosition2 {
  0%, 10% { width: 0px }
  90%, 100% { width: 303px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}